<?xml version="1.0" ?>
<launch>
  
  <arg name="db" default="false" />
  <arg name="db_path" default="$(find indy10_moveit_config)/default_warehouse_mongo_db" />

  <include file="$(find indy10_gazebo)/launch/indy10_world.launch"/>
  <include file="$(find indy10_control)/launch/indy10_controller.launch"/>

  <include file="$(find indy10_moveit_config)/launch/gazebo_move_group.launch"/>
  
  <include file="$(find indy10_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <!-- <node pkg="indy_driver" type="SetHome" name="SetHome" output="screen"/> -->
  <!-- <node pkg="indy_driver" type="camera_process" name="camera_process" output="screen"/> -->
  <!-- <node pkg="indy_driver" type="EulerToQuat" name="EulerToQuat" output="screen"/> -->
  <!-- <node pkg="indy_driver" type="move_to_pose" name="move_to_pose" output="screen"/> -->
  <!-- <node pkg="indy_driver" type="gazebo_grip" name="gazebo_grip" output="screen"/> -->
  <node pkg="indy_driver" type="IndyRobot" name="IndyRobot" output="screen"/>
  <include file="$(find indy10_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>
